  
  .search {
    float: left;
    padding: 17px 0 0 35px;
    width: 200px;
  }
  
  .search input[type="text"] {
    background: none;
    border: 0;
    color: #262626;
    width: 136px;
    float: left;
  }
  
  .search input[type="submit"] {
    background: none;
    border: 0;
    color: #3B1505;
    cursor: pointer;
    font-weight: bold;
    float: right;
    text-align: center;
    width: 60px;
  }
  
  
  
  .breadcrumbs {
    font-size: 14px;
    color: #4E200C;
    padding: 0 0 15px 0;
    font-family: "Times New Roman", "Times CY", "Nimbus Roman No9 L", serif;
  }
  
  .breadcrumbs a {
    font-size: 14px;
    color: #4E200C;
    font-family: "Times New Roman", "Times CY", "Nimbus Roman No9 L", serif;
  }
  
  .content, .module_wrap {
    color: #4e200c;
    font-family: "Times New Roman", "Times CY", "Nimbus Roman No9 L", serif;
    font-size: 16px;
  }
    
  .news_block {
    background: url(/images/news_block.webp) center bottom no-repeat;
    margin: 0 -17px 30px -16px;
    padding: 0 21px 40px 16px;
  }
  
  .news_block_head {
    margin: 0 0 0 -32px;
  }
  
  .news_date {
    float: left;
  }
  
  .news_date i {
    background-position: right top;
    float: right;
    width: 10px;
  }
  
  .news_date a {
    background-position: left top;
    display: block;
    padding: 0 10px 0 13px;
    margin: 0 0px 0 36px;
    text-decoration: none;
    font-weight: bold;
    border-radius: 24px;
  }
  
  .news_date a, .news_date i {
    /* height: 39px; */
    background: url(/images/news_date.webp) left top no-repeat;
    line-height: 39px;
    font-size: 24px;
    color: #fff !important;
  }
  
  .news_item {
    padding: 10px 20px;
    font-weight: bold;
    font-size: 16px;
    overflow: hidden;
    zoom: 1;
  }
  
  .news_item_one {
    overflow: hidden;
    zoom: 1;
    padding: 10px 0;
  }
  
  .liked {
    float: right;
    padding: 0 0 10px 0;
  }
  
  .news_item .anons {
    font-weight: normal;
  }
  
  .content .news_item a {
    color: #000;
  }
  
  .content_white_cloud {
    clear: both;
  }
  
  .cwc_top, .cwc_bot {
    background: url(/images/cwc_bt.webp) center top no-repeat;
    height: 19px;
  }
  
  .cwc_mid {
    background: url(/images/cwc_mid.webp) center repeat-y;
  }
  
  .cwc_mid .content {
    padding: 0 21px 10px 16px;
  }
  
  .content p, .module_wrap p {
    margin: 0 0 15px 0;
  }
  
  .cwc_bot {
    background-position: center bottom;
    height: 27px;
  }
  
  .share_soc, .share_soc_page {
    border-bottom: 1px solid #ccc;
    padding: 3px 0 8px 0;
    clear: both;
    overflow: hidden;
    zoom: 1;
    text-align: right;
    font-weight: normal !important;
    font-size: 13px;
    line-height: 20px;
  }
  
  .share_soc a[share_type=tw], .share_soc_page a[share_type=tw] {
    background-image: url(/images/soc_tw.webp);
    display: block;
    width: 20px;
    height: 20px;
    float: right;
    margin: 0 0 0 5px;
  }
  
  /* .share_soc a[share_type=fb], .share_soc_page a[share_type=fb] {
    background-image: url(/images/soc_fb.webp);
    display: block;
    width: 20px;
    height: 20px;
    float: right;
    margin: 0 0 0 5px;
  }
  
  .share_soc a[share_type=vk], .share_soc_page a[share_type=vk] {
    background-image: url(/images/soc_vk.webp);
    display: block;
    width: 20px;
    height: 20px;
    float: left;
    margin: 0 0 0 5px;
  } */
  
  h2 {
    text-align: center;
    color: #3a7918;
      font-size: 36px;
      margin: 0;
      padding: 17px 0 42px 0;
      display: block;
      font-weight: normal;
  }
    
  a img,
  a {
    outline: none;
    border: 0;
  }
  
  .zolt {
    font-size: 24px;
    background: yellow;
  }
  
  .zolt1 {
    background: rgba(0, 0, 0, 0);
  }  

  .zolt3 {
    background: yellow;
  }  

    
  .paginator {
    text-align: center;
  }
  
  .paginator ul {
    list-style: none;
    font-size: 16px;
  }
  
  .content ul, .content ol, .module_wrap ul, .module_wrap ol {
    margin: 0 0 15px 45px;
    padding: 0;
  }
  
  .paginator ul li a:hover, .paginator ul li.active {
    color: #bc410b !important;
  }
  
  .paginator ul li {
    list-style: none;
    display: inline;
    margin-right: 8px;
  }
  
  .content a:link {
    color: #bc410b;
  }
  
  .paginator ul li a {
    color: #4E200C !important;
    text-decoration: none;
    text-decoration: underline;
  }

  .yellow-underline3 {
    display: block;
    text-align: left;
    text-decoration-color: rgb(255, 255, 255); /* Устанавливаем цвет подчёркивания */
    text-underline-offset: 8px; /* Расстояние между текстом и подчёркиванием */
    border-radius: 13px;
  }

