


.yellow-underline {
    text-decoration: underline;
    text-decoration-color: rgb(255, 205, 0); /* Устанавливаем цвет подчёркивания */
    text-underline-offset: 8px; /* Расстояние между текстом и подчёркиванием */
  }





  