


.yellow-underline2 {
    display: block;
    text-align: left;
    text-decoration-color: rgb(255, 205, 0); /* Устанавливаем цвет подчёркивания */
    text-underline-offset: 5px; /* Расстояние между текстом и подчёркиванием */
  }
